.header {
  background-color: transparent;
  width: 100%;
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;

  picture img {
    width: 120px;
    height: 120px;
  }
}

/*OPCIONES NAVBAR*/

.list {
  color: white;
  display: flex;
  li {
    list-style: none;
    color: white;

    .btn {
      background: transparent;
      border: none;
      span {
        color: #fff;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

/*BOTONES NAVBAR*/

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  background: transparent;
  border: none;
  border-radius: 3px;
  span {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

.btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 10px;
  transition: background-color 0.3s ease;
}

.btnHover {
  color: var(--nav-btn-hover-color);
  opacity: 0.8;
  border: none;
  padding: 10px 10px;
  transition: background-color 0.3s ease;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;

  span {
    color: var(--nav-item-color-hover);
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
  }
}

.vehicles {
  height: 100vh;
  background-color: black;
}
